@use "sass:math";
@use "../functions/" as *;
@use "../mixins/" as mix;
@use "../variables/" as var;

.ly_header {
    width: 100%;
    height: 64px;
    position: absolute;
    top: 40px;
    z-index: 100;
}

.ly_header_inner {
    @include mix.flex();
    width: calc(math.div(var.$width-pc, 1280px) * 100%);
    max-width: var.$width-pc;
    height: inherit;
    margin: 0 auto;
}