@use "../../variables/" as var;
@use "../../mixins/" as mix;

// humberger
// --------------------------------------------------------------------------
.js_humbergerBtn {
  position: absolute;
  background: none;
  width: 56px;
  height: 56px;
  border: none;
  padding: 0px;
  cursor: pointer;
  top: 10px;
  right: 2%;
  z-index: 1520;
  outline: none;
  display: none;

  @include mix.mq(lg) {
    display: block;
  }

  @include mix.mq(sm) {
    top: 0px;
    right: 2%;
  }

  .js_humbergerBtn_ber {
    display: block;
    background: #121212;
    width: 30px;
    height: 2px;
    margin: 6px auto 0px;
    transition: width 0.2s ease-in-out, background 0.2s ease-in-out;
    transform-origin: 1px 1px;
    border-radius: 2px;
  }
}

.ly_header {
  &.is_humbergerOpen {
    background: none !important;

    .ly_header_logo {
      svg path {
        fill: #fff;
        transition: fill 0.2s;
      }
    }

    .ly_headerNav {
      opacity: 1;

      > ul > li > a {
        pointer-events: auto;
      }
    }

    .js_humbergerBtn {
      position: fixed;

      .bar01 {
        background: #fff;
        transform: translateY(20px) rotate(-45deg);
      }
      .bar02 {
        opacity: 0;
      }
      .bar03 {
        background: #fff;
        transform: translateY(-15px) rotate(45deg);
      }
      .humberger_bar {
        width: 22px;
        background: #fff;
      }
    }
  }
}

.js_humbergerBg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  opacity: 0;
  transition: 0.5s;
  background: rgba(0, 104, 208, 0.9);
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;

  &.is_humbergerOpen {
    opacity: 1;
    pointer-events: auto;
  }
}

.js_navOpen{
  &.is_humbergerOpen{
    overflow: hidden;
  }
}

// js_pageTop
// --------------------------------------------------------------

.js_pageTop {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.4s 0s ease-in, transform 0.4s 0s ease-in;
}

.is_pageTop {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

// js_fadeIn
// --------------------------------------------------------------
@keyframes an_scrollIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.is_fadeIn {
  opacity: 1;
  animation: an_scrollIn 1s ease forwards;
}

// is_flowLists
// --------------------------------------------------------------
@keyframes an_flowLists {
  0% {
    opacity: 0;
    transform: translateY(24%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@for $count from 1 through 4 {
  .is_flowLists li:nth-child(#{$count}) {
    animation: an_flowLists 0.9s ease-out $count * 0.16s 1 forwards;
  }
}

// is_footerContact
// --------------------------------------------------------------
.is_footerContact {
  a {
    h2 {
      opacity: 1;
      animation: an_scrollIn 0.4s ease forwards;
    }

    p {
      opacity: 1;
      animation: an_scrollIn 0.6s ease forwards;
    }

    .el_commonMoreBtn {
      opacity: 1;
      animation: an_scrollIn 0.8s ease forwards;
    }
  }
}

// js_mainVisual_title
// --------------------------------------------------------------
@keyframes an_mainVisual_title {
  0% {
    transform: translateY(64px);
  }
  100% {
    transform: none;
  }
}

@for $count from 1 through 3 {
  .js_mainVisual_title:nth-child(#{$count}) span {
    animation: an_mainVisual_title 0.6s ease-out $count * 0.3s 1 forwards;
  }
}

// js_mainVisual_text
// --------------------------------------------------------------
@keyframes an_mainVisual_text {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.is_mainVisual_text {
  animation: an_mainVisual_text 1s ease forwards;
  animation-delay: 0.8s;
}
