// Color
// --------------------------------------------------------------------------
// text color
$color-text-default: #2B2B2B;
$color-text-gray: #707070;

// title color
$color-title: #333;

// background color
$color-body: #fff;
$color-background-gray: #EDEDED;

// btn color
$color-btn: #A0A0A0;