// font family
// --------------------------------------------------------------------------
$myriad: myriad-pro, sans-serif;
$poppins: poppins, sans-serif;
$basic: YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;

$font: (
    font-global: $myriad,
    font-heading: $poppins,
    font-lead: $basic,
);
