// Font
// --------------------------------------------------------------------------
$font-family-default: myriad-pro, sans-serif;
$font-family-poppins: poppins, sans-serif;
$font-family-text: YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;