// width
// --------------------------------------------------------------------------
$width-pc: 960px;

// fontsize
// --------------------------------------------------------------------------
// lv1
$lv1FontSize: 120px;
$lv1FontSize_xl: 120px;
$lv1FontSize_lg: 36px;
$lv1FontSize_md: 30px;
$lv1FontSize_sm: 26px;

// lv2
$lv2FontSize: 36px;
$lv2FontSize_xl: 36px;
$lv2FontSize_lg: 25px;
$lv2FontSize_md: 24px;
$lv2FontSize_sm: 20px;

// lv3
$lv3FontSize: 24px;
$lv3FontSize_xl: 24px;
$lv3FontSize_lg: 18px;
$lv3FontSize_md: 17px;
$lv3FontSize_sm: 16px;
