@use "../variables/" as var;
@use "responsive" as mq;

// lv1FontSize
// --------------------------------------------------------------------------
@mixin mix_lv1FontSize {
  font-size: rem(var.$lv1FontSize);

  @include mq.mq(xl) {
    font-size: rem(var.$lv1FontSize_xl);
  }

  @include mq.mq(lg) {
    font-size: rem(var.$lv1FontSize_lg);
  }

  @include mq.mq(md) {
    font-size: rem(var.$lv1FontSize_md);
  }

  @include mq.mq(sm) {
    font-size: rem(var.$lv1FontSize_sm);
  }
}

// lv2FontSize
// --------------------------------------------------------------------------
@mixin mix_lv2FontSize {
  font-size: rem(var.$lv2FontSize);

  @include mq.mq(xl) {
    font-size: rem(var.$lv2FontSize_xl);
  }

  @include mq.mq(lg) {
    font-size: rem(var.$lv2FontSize_lg);
  }

  @include mq.mq(md) {
    font-size: rem(var.$lv2FontSize_md);
  }

  @include mq.mq(sm) {
    font-size: rem(var.$lv2FontSize_sm);
  }
}

// lv3FontSize
// --------------------------------------------------------------------------
@mixin mix_lv3FontSize {
  font-size: rem(var.$lv3FontSize);

  @include mq.mq(xl) {
    font-size: rem(var.$lv3FontSize_xl);
  }

  @include mq.mq(lg) {
    font-size: rem(var.$lv3FontSize_lg);
  }

  @include mq.mq(md) {
    font-size: rem(var.$lv3FontSize_md);
  }

  @include mq.mq(sm) {
    font-size: rem(var.$lv3FontSize_sm);
  }
}

// lv4FontSize
// --------------------------------------------------------------------------
@mixin mix_lv4FontSize {
  font-size: rem(var.$lv4FontSize);

  @include mq.mq(xl) {
    font-size: rem(var.$lv4FontSize_xl);
  }

  @include mq.mq(lg) {
    font-size: rem(var.$lv4FontSize_lg);
  }

  @include mq.mq(md) {
    font-size: rem(var.$lv4FontSize_md);
  }

  @include mq.mq(sm) {
    font-size: rem(var.$lv4FontSize_sm);
  }
}