@use "../../variables/" as var;
@use "../../mixins/" as mix;

// bl_width_100per
// --------------------------------------------------------------------------

.bl_width_100per {
  @include mix.mix_width100per;

  &_inner {
    width: var.$width-pc;
    margin: 0px auto;

    @include mix.mq(xl) {
      width: 100%;
    }
  }
}

// bl_commonBlock
// --------------------------------------------------------------------------

.bl_commonBlock {
}


// mix_cardUnit
// @include mix_cardUnit(カラム数,縦軸の余白,左右の余白);
// 例：mix_cardUnit(3,30px,4%);
// 例：class="bl_cardUnit bl_cardUnit__col4"
// ----------------------------------------------------------------

.bl_cardUnit {
  @include mix.mix_cardUnit(4, 20px, 3%);
}
