@use "../../variables/" as var;
@use "../../mixins/" as mix;

// bl_flexBase
// --------------------------------------------------------------------------

.bl_flexBase {
  @include mix.mix_flexBase;

  &_start {
    @include mix.mix_flexBase_start;
  }

  &_end {
    @include mix.mix_flexBase_end;
  }

  &_center {
    @include mix.mix_flexBase_center;
  }

  &_between {
    @include mix.mix_flexBase_between;
  }

  &_around {
    @include mix.mix_flexBase_around;
  }

  &_allCenter {
    @include mix.mix_flexBase_allCenter;
  }
}

// bl_width_100per
// --------------------------------------------------------------------------

.bl_width_100per {
  @include mix.mix_width100per;

  &_inner {
    width: var.$width-pc;
    margin: 0px auto;

    @include mix.mq(xl) {
      width: 100%;
    }
  }
}

// bl_commonBlock
// --------------------------------------------------------------------------

.bl_commonBlock {
  @include mix.mix_inner(var.$lv1Space, 0px);
}

// bl_breadcrumb
// --------------------------------------------------------------------------

.bl_breadcrumb {
  position: relative;
  width: 100%;

  &_inner {
    @include mix.mix_inner(12px, 12px);

    > ol {
      @include mix.mix_flexBase_start;

      > li {
        padding-right: 18px;
        margin-right: 18px;
        position: relative;

        > a {
          color: var.$color-link;

          &[aria-current] {
            pointer-events: none;
            text-decoration: none;
            color: var.$color-text-default-pc;
          }

          @include mix.hover() {
            color: var.$color-link;
            text-decoration: underline;
          }
        }

        &:not(:last-child) {
          &::after {
            content: "";
            margin-left: 18px;
            width: 0.5rem;
            height: 0.5rem;
            border-top: 1px solid var.$color-text-default-pc;
            border-right: 1px solid var.$color-text-default-pc;
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotate(45deg) translateY(-50%);
          }
        }
      }
    }

    @include mix.mq(xl) {
      width: 100vw;
      overflow: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        height: 3px;
      }
      &::-webkit-scrollbar-track {
        background: #eee;
      }
      &::-webkit-scrollbar-thumb {
        background: #ccc;
      }

      > ul {
        display: table;

        > li {
          display: table-cell;
          padding-right: 6px;
          white-space: nowrap;
        }
      }
    }

    @include mix.mq(md) {
      font-size: rem(14px);
    }
  }
}

// mix_cardUnit
// @include mix_cardUnit(カラム数,縦軸の余白,左右の余白);
// 例：mix_cardUnit(3,30px,4%);
// 例：class="bl_cardUnit bl_cardUnit__col4"
// ----------------------------------------------------------------

.bl_cardUnit {
  @include mix.mix_cardUnit(4, 20px, 3%);
}

// bl_pageTop
// ----------------------------------------------------------------

.bl_pageTop {
  position: fixed;
  right: 4%;
  bottom: 40px;
}