@use "../../variables/" as var;
@use "../../mixins/" as mix;

// 装飾
// --------------------------------------------------------------------------

.el_borderFluorescence {
  background: linear-gradient(transparent 70%, rgba(71, 176, 255, 0.4) 70%);
}

// Heading
// --------------------------------------------------------------------------

.el_lv1Heading {
  @include mix.mix_lv1FontSize;
}

.el_lv2Heading {
  @include mix.mix_lv2FontSize;
}

.el_lv3Heading {
  @include mix.mix_lv3FontSize;
}

.el_lv4Heading {
  @include mix.mix_lv4FontSize;
}

// el_Button
// --------------------------------------------------------------------------

.el_commonMoreBtn {
  display: block;
  width: 100%;
  max-width: 280px;
  padding: 1.1875em 0 1.25em;
  text-align: center;
  border: 2px solid var.$color-accent;
  border-radius: 50px;
  color: var.$color-accent;
  font-weight: 600;
  line-height: 1.313;
  box-shadow: 6px 10px 16px 0px rgba(0, 104, 208, 0.2);
  position: relative;
  opacity: 0;
  transition: box-shadow 0.4s ease-in-out, filter 0.4s ease-in-out;

  &::before {
    content: "";
    width: 28px;
    height: 1px;
    margin-left: 0.5em;
    background: var.$color-accent;
    position: absolute;
    top: 50%;
    right: 1.625rem;
    transform: translateY(-50%);
    transition: width 0.4s ease-in-out;
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent var.$color-accent;
    position: absolute;
    top: 50%;
    right: 1.3rem;
    transform: translateY(-50%);
  }

  @include mix.hover() {
    box-shadow: 0px 0px 0px 0px rgba(0, 104, 208, 0.2);
    filter: opacity(70%);

    &::before {
      width: 0;
    }
  }
}
